API_ID=14837825 # get this value from my.telegram.org
API_HASH=0ed849f5e7ab2df61d969317de2ca64c # get this value from my.telegram.org
BOT_TOKEN=5949947373:AAGzGdNAQj0bxskEnRwmh2MJGm4bE2D-5Lk # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Cloner:Cloner@cluster0.cgc6t.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001596581219 # get this value from in your log group 
MUSIC_BOT_NAME=Stetchfy # your music bot name 
STRING_SESSION=BAAKSBp1Yj6P22hW2ki5dGMzRoxF-o1Q4fuvY541o4x3NX8olqdWO_UbZ5_NlP7v8snB8DWsEpbk1snHRMBskvWhJdS1668SyjMD_bCb9nNE533SsCOTNFrg097JLZD674NmB5zjPBPAl5YISuW1bOGKvwdoybaffel2zaHR8-UKSZ_ky3SvXgBCKoVJ-eDsbnM2U5xvkzvBrnZIxNrMakRk_B9AcEjRmCDfDxPmiDEdXY8Hu4tyNSq1kd5TVGcXVhkhwo78XwdAXH71k88xXVp39BDCzUdLRqsXjp7ii5maHfLlUm130HQ1X_BXUSrreHMpakI2z1P7lDi240xGyfwTaBPPzgA # get this value from @yukkistringbot